pipeline/GenericWatermark.json
{
	"name": "GenericWatermark",
	"properties": {
		"activities": [
			{
				"name": "OldWatermark",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(@pipeline().parameters.WatermarkField) as old from @pipeline().parameters.TableName"
					},
					"dataset": {
						"referenceName": "CustomerSink",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "NewWatermark",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select MAX(@pipeline().parameters.WatermarkField) as new from @pipeline().parameters.TableName"
					},
					"dataset": {
						"referenceName": "CustomerSink",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy Data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM @pipeline().parameters.TableName where @{pipeline().parameters.WatermarkField} > @{activity('OldWatermark').output.firstRow.old} AND @{pipeline().parameters.WatermarkField} <= @{activity('NewWatermark').output.firstRow.new}"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "CustomerSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CustomerSink",
						"type": "DatasetReference"
					}
				]
			}
		],
		"parameters": {
			"WatermarkField": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			}
		}
	}
}