pipeline/readVCFFromLake.json
{
	"name": "readVCFFromLake",
	"properties": {
		"activities": [
			{
				"name": "ReadFile",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "Caravan2_brahmin",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure"
					]
				}
			},
			{
				"name": "Set Variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "CamposVCF",
					"value": {
						"value": "@{replace(JSON(STRING(activity('ReadFile').output.structure[9]))['name'], '#', '')}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"CamposVCF": {
				"type": "String"
			}
		}
	}
}