pipeline/readVCFFromLake.json
{
	"name": "readVCFFromLake",
	"properties": {
		"activities": [
			{
				"name": "ReadFile",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "Caravan2_brahmin",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure",
						"itemName"
					]
				}
			},
			{
				"name": "SetearParamDinamico",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "CamposVCF",
					"value": {
						"value": "@{replace(JSON(STRING(activity('ReadFile').output.structure[9]))['name'], '#', '')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CrearTablaDinamica",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetearParamDinamico",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[CrearTablaDinamica]",
					"storedProcedureParameters": {
						"NombreTabla": {
							"value": {
								"value": "@replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Numero": {
							"value": {
								"value": "@variables('CamposVCF')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Copy VCF to SQL",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CrearTablaDinamica",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "BlobSource",
						"recursive": true
					},
					"sink": {
						"type": "SqlDWSink",
						"allowPolyBase": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Caravan2_brahmin",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Warehouse_Dinamica",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "unpivotTablePASS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy VCF to SQL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderStoredProcedureName": "[dbo].[UnpivotTable]",
						"storedProcedureParameters": {
							"NombreTabla": {
								"type": "String",
								"value": {
									"value": "@{replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')}",
									"type": "Expression"
								}
							},
							"Filter": {
								"type": "String",
								"value": "PASS"
							}
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"allowPolyBase": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "Warehouse_Dinamica",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Unificado_Warehouse",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "agregar resultado",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "drop table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[AgregarResultado]"
				},
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "drop table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "unpivotTablePASS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[Drop_Table]",
					"storedProcedureParameters": {
						"NombreTabla": {
							"value": "@replace(replace(activity('readvcf_file').output.itemName,'.vcf',''),'-','_')",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"CamposVCF": {
				"type": "String"
			}
		}
	}
}