pipeline/readVCFFromLake.json
{
	"name": "readVCFFromLake",
	"properties": {
		"activities": [
			{
				"name": "ReadFile",
				"type": "GetMetadata",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"dataset": {
						"referenceName": "Caravan2_brahmin",
						"type": "DatasetReference"
					},
					"fieldList": [
						"structure",
						"itemName"
					]
				}
			},
			{
				"name": "SetearParamDinamico",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReadFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"variableName": "CamposVCF",
					"value": {
						"value": "@{replace(JSON(STRING(activity('ReadFile').output.structure[9]))['name'], '#', '')}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "CrearTablaDinamica",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetearParamDinamico",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[CrearTablaDinamica]",
					"storedProcedureParameters": {
						"NombreTabla": {
							"value": {
								"value": "@replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')",
								"type": "Expression"
							},
							"type": "String"
						},
						"Numero": {
							"value": {
								"value": "@variables('CamposVCF')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"CamposVCF": {
				"type": "String"
			}
		}
	}
}