Highwayman-ADFv2/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "Highwayman-ADFv2"
		},
		"FS_Notebook_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'FS_Notebook'"
		},
		"SQL_SOURCEDB_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQL_SOURCEDB'"
		},
		"SQL_WASTELAND_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SQL_WASTELAND'"
		},
		"Lakegen2clusterAvro_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"Lakegen2clusterAvro_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "clusterhdinsight/DataFactoryAvro"
		},
		"Lakegen2clusterORC_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": ""
		},
		"Lakegen2clusterORC_properties_typeProperties_folderPath": {
			"type": "string",
			"defaultValue": "clusterhdinsight/DataFactoryORC"
		},
		"FS_Notebook_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "DESKTOP-DIIS9C2\\marti"
		},
		"CsvSales_properties_typeProperties_fileName": {
			"type": "string",
			"defaultValue": "*.csv"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Lakegen2ClusterParquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LakeGen2_cluster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "DataFactory",
						"fileSystem": "clusterhdinsight"
					},
					"compressionCodec": "gzip"
				},
				"schema": [
					{
						"name": "Indice",
						"type": "INT32"
					},
					{
						"name": "CustomerID",
						"type": "INT32"
					},
					{
						"name": "NameStyle",
						"type": "BOOLEAN"
					},
					{
						"name": "Title",
						"type": "UTF8"
					},
					{
						"name": "FirstName",
						"type": "UTF8"
					},
					{
						"name": "MiddleName",
						"type": "UTF8"
					},
					{
						"name": "LastName",
						"type": "UTF8"
					},
					{
						"name": "Suffix",
						"type": "UTF8"
					},
					{
						"name": "SalesPerson",
						"type": "UTF8"
					},
					{
						"name": "EmailAddress",
						"type": "UTF8"
					},
					{
						"name": "Phone",
						"type": "UTF8"
					},
					{
						"name": "PasswordHash",
						"type": "UTF8"
					},
					{
						"name": "PasswordSalt",
						"type": "UTF8"
					},
					{
						"name": "rowguid",
						"type": "UTF8"
					},
					{
						"name": "ModifiedDate",
						"type": "INT96"
					},
					{
						"name": "CompanyName",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lakegen2clusterAvro')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LakeGen2_cluster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "AvroFormat"
					},
					"fileName": "[parameters('Lakegen2clusterAvro_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Lakegen2clusterAvro_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lakegen2clusterORC')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LakeGen2_cluster",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureBlobFSFile",
				"typeProperties": {
					"format": {
						"type": "OrcFormat"
					},
					"fileName": "[parameters('Lakegen2clusterORC_properties_typeProperties_fileName')]",
					"folderPath": "[parameters('Lakegen2clusterORC_properties_typeProperties_folderPath')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Unificado_Warehouse')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "CHROM",
						"type": "varchar"
					},
					{
						"name": "POS",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "REF",
						"type": "varchar"
					},
					{
						"name": "ALT",
						"type": "varchar"
					},
					{
						"name": "QUAL",
						"type": "varchar"
					},
					{
						"name": "FILTER",
						"type": "varchar"
					},
					{
						"name": "INFO",
						"type": "varchar"
					},
					{
						"name": "FORMAT",
						"type": "varchar"
					},
					{
						"name": "MUESTRA",
						"type": "varchar"
					},
					{
						"name": "VALOR",
						"type": "varchar"
					},
					{
						"name": "ORIGEN",
						"type": "varchar"
					},
					{
						"name": "FECHA_COPIA",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RESULTADO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Unificado]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Warehouse_Dinamica')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ADW_SETTLEMENT",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "[dbo].@{replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')}",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FS_Notebook')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "C:\\Laburo\\Tests",
					"userId": "[parameters('FS_Notebook_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('FS_Notebook_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-Notebook",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_SOURCEDB')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQL_SOURCEDB_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-DBs",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_WASTELAND')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('SQL_WASTELAND_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-DBs",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/readCsvMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CsvBrahmin",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSetting",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSetting"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/readLakeMetadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "CsvBrahmin",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [],
							"storeSettings": {
								"type": "AzureBlobStorageReadSetting",
								"recursive": true
							},
							"formatSettings": {
								"type": "DelimitedTextReadSetting"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/readVCFFromLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ReadFile",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Caravan2_brahmin",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"structure",
								"itemName"
							]
						}
					},
					{
						"name": "SetearParamDinamico",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ReadFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "CamposVCF",
							"value": {
								"value": "@{replace(JSON(STRING(activity('ReadFile').output.structure[9]))['name'], '#', '')}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "CrearTablaDinamica",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "SetearParamDinamico",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[CrearTablaDinamica]",
							"storedProcedureParameters": {
								"NombreTabla": {
									"value": {
										"value": "@replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')",
										"type": "Expression"
									},
									"type": "String"
								},
								"Numero": {
									"value": {
										"value": "@variables('CamposVCF')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADW_SETTLEMENT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "Copy VCF to SQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "CrearTablaDinamica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BlobSource",
								"recursive": true
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Caravan2_brahmin",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Warehouse_Dinamica",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "unpivotTablePASS",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy VCF to SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderStoredProcedureName": "[[dbo].[UnpivotTable]",
								"storedProcedureParameters": {
									"NombreTabla": {
										"type": "String",
										"value": {
											"value": "@{replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')}",
											"type": "Expression"
										}
									},
									"Filter": {
										"type": "String",
										"value": "PASS"
									}
								}
							},
							"sink": {
								"type": "SqlDWSink",
								"allowPolyBase": false
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Warehouse_Dinamica",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Unificado_Warehouse",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "agregar resultado",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "drop table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[AgregarResultado]"
						},
						"linkedServiceName": {
							"referenceName": "ADW_SETTLEMENT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "drop table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "unpivotTablePASS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[Drop_Table]",
							"storedProcedureParameters": {
								"NombreTabla": {
									"value": {
										"value": "@replace(replace(activity('ReadFile').output.itemName,'.vcf',''),'-','_')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ADW_SETTLEMENT",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "eliminar duplicados",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "agregar resultado",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[LimpiarDuplicados]"
						},
						"linkedServiceName": {
							"referenceName": "ADW_SETTLEMENT",
							"type": "LinkedServiceReference"
						}
					}
				],
				"variables": {
					"CamposVCF": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Warehouse_Dinamica')]",
				"[concat(variables('factoryId'), '/datasets/Unificado_Warehouse')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CsvSales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "FS_Notebook",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "FileShare",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"rowDelimiter": "",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": true
					},
					"fileName": "[parameters('CsvSales_properties_typeProperties_fileName')]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/FS_Notebook')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerSink')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_WASTELAND",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[SalesLT].[Customer]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_WASTELAND')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/CustomerSource')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_SOURCEDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[SalesLT].[Customer]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_SOURCEDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL_Unificado')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_SOURCEDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CHROM",
						"type": "varchar"
					},
					{
						"name": "POS",
						"type": "varchar"
					},
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "REF",
						"type": "varchar"
					},
					{
						"name": "ALT",
						"type": "varchar"
					},
					{
						"name": "QUAL",
						"type": "varchar"
					},
					{
						"name": "FILTER",
						"type": "varchar"
					},
					{
						"name": "INFO",
						"type": "varchar"
					},
					{
						"name": "FORMAT",
						"type": "varchar"
					},
					{
						"name": "MUESTRA",
						"type": "varchar"
					},
					{
						"name": "VALOR",
						"type": "varchar"
					},
					{
						"name": "ORIGEN",
						"type": "varchar"
					},
					{
						"name": "FECHA_COPIA",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "RESULTADO",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"tableName": "[[dbo].[Unificado]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_SOURCEDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_WASTELAND",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_WASTELAND')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SinkTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_WASTELAND",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_WASTELAND')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceTable')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_SOURCEDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_SOURCEDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SourceTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_SOURCEDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"tableName": {
						"value": "@pipeline().parameters.TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_SOURCEDB')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Customer')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SQL_SOURCEDB",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "CustomerID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NameStyle",
						"type": "bit"
					},
					{
						"name": "Title",
						"type": "nvarchar"
					},
					{
						"name": "FirstName",
						"type": "nvarchar"
					},
					{
						"name": "MiddleName",
						"type": "nvarchar"
					},
					{
						"name": "LastName",
						"type": "nvarchar"
					},
					{
						"name": "Suffix",
						"type": "nvarchar"
					},
					{
						"name": "CompanyName",
						"type": "nvarchar"
					},
					{
						"name": "SalesPerson",
						"type": "nvarchar"
					},
					{
						"name": "EmailAddress",
						"type": "nvarchar"
					},
					{
						"name": "Phone",
						"type": "nvarchar"
					},
					{
						"name": "PasswordHash",
						"type": "varchar"
					},
					{
						"name": "PasswordSalt",
						"type": "varchar"
					},
					{
						"name": "rowguid",
						"type": "uniqueidentifier"
					},
					{
						"name": "ModifiedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "[[SalesLT].[Customer]"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SQL_SOURCEDB')]"
			]
		}
	]
}