Highwayman-ADFv2/PartialArmTemplates/ArmTemplate_5_27_2019_15_49_45.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "highwayman-adfv2"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/readFromLake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ReadFile",
						"type": "GetMetadata",
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"typeProperties": {
							"dataset": {
								"referenceName": "Caravan2_brahmin",
								"type": "DatasetReference"
							},
							"fieldList": [
								"structure"
							]
						}
					},
					{
						"name": "Set Variable1",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "ReadFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"typeProperties": {
							"variableName": "CamposVCF",
							"value": {
								"value": "@{JSON(STRING(activity('ReadFile').output.structure[4]))['name']}",
								"type": "Expression"
							}
						}
					}
				],
				"variables": {
					"CamposVCF": {
						"type": "String"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Caravan2_brahmin')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Caravan2_brahmin')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Blob_brahminstorage",
					"type": "LinkedServiceReference"
				},
				"type": "AzureBlob",
				"typeProperties": {
					"format": {
						"type": "TextFormat",
						"columnDelimiter": ",",
						"quoteChar": "\"",
						"nullValue": "\\N",
						"encodingName": null,
						"treatEmptyAsNull": true,
						"skipLineCount": 0,
						"firstRowAsHeader": false
					},
					"fileName": "R_2019_05_07_12_37_48_user_S5-0071-174-GDM017937_CHIP2_GWS-TSVC_variants_IonCode_0501.vcf",
					"folderPath": "caravan2/VCF"
				}
			}
		}
	]
}